[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
importlib = "*"
python-dotenv = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
flask-marshmallow = "*"
flask-restful = "*"
cerberus = "*"
pyjwt = "*"

[dev-packages]

[requires]
python_version = "3.8"
